
# Python Basics

## Data types

### Numbers

In [3]:
type(1.)

float

In [4]:
1 + 1

2

In [5]:
1 * 3

3

In [6]:
4 / 2

2.0

In [7]:
2 ** 4

16

In [44]:
5 // 2

2

In [11]:
(2 + 3) * (5 + 5)

50

In [21]:
len('Hello     ')

10

In [19]:
'1'

'1'

In [17]:
"Hello, you said that you are a \"magician\""

'Hello, you said that you are a "magician"'

### Variable Assignment

In [ ]:
# Can not start with number or special characters
name_of_var = 2

In [31]:
my_name9 = 9.0
type(my_name9)
# my_name9 = 9.0

float

In [33]:
x = 2
y = 3

In [35]:
z = x + y

In [36]:
z

5

In [37]:
x,y= 2,3

In [38]:
x=y=5

### Strings

In [ ]:
'single quotes'

In [ ]:
"double quotes"

In [ ]:
" wrap lot's of other quotes"

### Printing

In [48]:
x = 15

In [49]:
x

15

In [50]:
print(x)

15

In [52]:
num = 12
name = 'Sam'

In [55]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

In [66]:
print(f"My number is : {num} and my name is {name}")

My number is : 12 and my name is Sam

In [63]:
x = 'my name is'
y = ' Munendra'
z= ' and my number is'
n = 64884

In [65]:
x + y +z + n

TypeError: can only concatenate str (not "int") to str

### Lists

In [69]:
type([1,2,3])

list

In [71]:
type(['hi',1,[1,2]])

list

In [72]:
my_list = ['a','b','c']

my_list

['a', 'b', 'c']

In [75]:
my_list.append('e','f')

TypeError: append() takes exactly one argument (2 given)

In [74]:
my_list

['a', 'b', 'c', 'd']

In [76]:
my_list.extend(['e','f'])

In [77]:
my_list

['a', 'b', 'c', 'd', 'e', 'f']

In [78]:
my_list[0]

'a'

In [84]:
my_list[-9]

IndexError: list index out of range

In [ ]:
my_list[-6:5]

In [ ]:
my_list[:1]

In [ ]:
my_list[0] = 'NEW'

In [ ]:
my_list

In [ ]:
nest = [1,2,3,[4,5,'target']]

In [ ]:
new_list = nest[3]

In [ ]:
nest[3][2]

In [ ]:
nest[3][2][5]

### Dictionaries

In [ ]:
d = {'key1':'item1','key2':'item2'}

In [ ]:
d = {'name':'munendra', 'age':33, 'occupation':'teacher'}

In [ ]:
d['age']

In [ ]:
d.get('age')

### Booleans

In [ ]:
True

In [ ]:
False

### Tuples

In [ ]:
t = (1,2,3)

In [ ]:
t[0]

In [ ]:
t[0] = 'NEW'

## Comparison Operators

In [ ]:
1 > 2

In [ ]:
1 < 2

In [ ]:
1 >= 1

In [ ]:
1 <= 4

In [ ]:
1 == 1

In [ ]:
'hi' == 'bye'

## Logic Operators

In [ ]:
(1 > 2) and (2 < 3)

In [ ]:
(1 > 2) or (2 < 3)

In [ ]:
(1 == 2) or (2 == 3) or (4 == 4)

## if,elif, else Statements

In [ ]:
if 1 < 2:
    print('Yep!')

In [ ]:
num = 4

In [ ]:
if num < 2:
    print('Number is less than 2')
elif num > 5:
    print ('Number is more than 5')
else:
    print('Number is between 2 and 5')

In [ ]:
if 1 > 2:
    print('first')
else:
    print('last')

In [ ]:
if num == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

## for Loops

In [ ]:
seq = 'munendra'#[1,2,3,4,5]

In [ ]:
for item in seq:
    print(item)

In [ ]:
for item in seq:
    print('Yep')

In [ ]:
for jelly in seq:
    print(jelly+jelly)

## while Loops

In [ ]:
i = 5
while i > 0:
    print('i is: {}'.format(i))
    i = i-1

## list comprehension

In [ ]:
x = [1,2,3,4]

In [ ]:
out = []
item**2 for item in x:
    out.append()
print(out)

In [ ]:
another_out = [item*2 for item in x]

In [ ]:
numbers = [1,2,3,4,5,6]

evens = [num for num in numbers if num%2==0]
odds = [num for num in numbers if num%2 != 0]

print(evens)
print(odds)

In [ ]:
a = [num*2 if num%2==0 else num/2 for num in numbers]
print(a)

## functions

In [ ]:
def my_func(param1='default', param2=2, param3):
    """
    Docstring goes here.
    lin2
    lin3
    """
    print(param1)

In [ ]:
my_func

In [ ]:
my_func()

In [ ]:
my_func('new param', 5, 0.4)

In [ ]:
my_func(param1='new param', param3)

In [ ]:
def square(x):
    return x**2

In [ ]:
out = square(111)

In [ ]:
print(out)

### Truethiness

In [12]:
x = None

In [13]:
if x:
    print('True')
else:
    print('False')

False

In [15]:
animal = input("Enter your favorite animal: ")

print(f"{animal} is my favorite too!")

Enter your favorite animal:
 is my favorite too!

In [17]:
animal = input("Enter your favorite animal: ")

if animal:
    print(f"{animal} is my favorite too!")
else:
    print("You didn't say anything!")

Enter your favorite animal:
You didn't say anything!

## lambda expressions

One of Pythons most useful (and for beginners, confusing) tools is the lambda expression. lambda expressions allow us to create "anonymous" functions. This basically means we can quickly make ad-hoc functions without needing to properly define a function using def.

Function objects returned by running lambda expressions work exactly the same as those created and assigned by defs. There is key difference that makes lambda useful in specialized roles:

**lambda's body is a single expression, not a block of statements.**

* The lambda's body is similar to what we would put in a def body's return statement. We simply type the result as an expression instead of explicitly returning it. Because it is limited to an expression, a lambda is less general that a def. We can only squeeze design, to limit program nesting. lambda is designed for coding simple functions, and def handles the larger tasks.

Lets slowly break down a lambda expression by deconstructing a function:

In [18]:
def square(num):
    result = num**2
    return result

In [20]:
square(4)

16

Further Breakdown

In [21]:
def square(num):
    return num**2

In [22]:
square(3)

9

We can actually write this in one line (although it would be bad style to do so)

In [23]:
def square(num): return num**2

In [25]:
square(3)

9

This is the form a function that a lambda expression intends to replicate. A lambda expression can then be written as:

In [26]:
lambda num: num**2

In [27]:
square = lambda num: num**2

In [29]:
square(6)

36

Few more examples

In [30]:
even = lambda x: x%2==0

In [32]:
even(6)

True

In [33]:
first = lambda s: s[0]

In [35]:
first('Munendra')

'M'

In [49]:
abc = lambda s: s[::-2]

In [50]:
abc('123456789')

'97531'

In [58]:
adder = lambda x,y,z : x+y-z

In [57]:
adder(2,3,1)

4

lambda expressions really shine when used in conjunction with map(),filter() and reduce()

## map and filter

map() is a function that takes in two arguments: a function and a sequence iterable. In the form:
    map(function, sequence)
    
The first argument is the name of a function and the second a sequence (e.g. a list). map() applies the function to all the elements of the sequence. It returns a new list with the elements changed by function.

In [60]:
def fahrenheit(T):
    return ((9/5)*T + 32)
def celsius(T):
    return (5/9)*(T-32)
    
temp = [0, 22.5, 40,100]

In [65]:
F_temps= list(map(fahrenheit, temp))

In [ ]:
#print(list(F_temps))

In [66]:
# Convert back
list(map(celsius, F_temps))

[0.0, 22.5, 40.0, 100.0]

In [ ]:
map(function, tuple)

In the example above we haven't used a lambda expression. By using lambda, we wouldn't have had to define and name the functions fahrenheit() and celsius().

In [67]:
temp

[0, 22.5, 40, 100]

In [68]:
def fahrenheit (T):
    return ((9/5)*T+32)
def celsius(T):
    return(5/9)*(T-32)

temp=[0,22.5,40,100]
F_Temps=list(map (fahrenheit,temp))
F_temps

[32.0, 72.5, 104.0, 212.0]

In [69]:
list(map(lambda T: ((9/5)*T + 32), temp))

[32.0, 72.5, 104.0, 212.0]

map() can be applied to more than one iterable. The iterables have to have the same length.

In [ ]:
a = [1,2,3,4]
b = [5,6,7,8]
c = [9,10,11,12]

map(lambda x,y,z:x+y+z, a,b,c)

The function filter(function, list) offers a convenient way to filter out all the elements of an iterable, for which the function returns True.

The function filter(function(),l) needs a function as its first argument. The function needs to return a Boolean value (either True or False). This function will be applied to every element of the iterable. Only if the function returns True will the element of the iterable be included in the result.

In [71]:
#First let's make a function
def even_check(num):
    if num%2 ==0:
        return True

In [74]:
lst =range(20)

filter(even_check,lst)

In [75]:
list(filter(even_check,lst))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [76]:
list(filter(lambda x: x%2==0,lst))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

## methods

In [77]:
st = 'hello my name is Sam'

In [78]:
st.lower()

'hello my name is sam'

In [79]:
st.upper()

'HELLO MY NAME IS SAM'

In [ ]:
st.split()

In [ ]:
tweet = 'Go Sports! #Sports'

In [ ]:
tweet.split('#')

In [ ]:
tweet.split('#')[1]

In [ ]:
d

In [ ]:
d.keys()

In [ ]:
d.items()

In [ ]:
lst = [1,2,3]

In [ ]:
lst.pop()

In [ ]:
lst

# What's Next?

Statistics basics

Basic Python libraries for machine learning: Numpy and pandas

Python libraries for data visualization: Matplotlib and seaborn

Machine Learning: Supervised, Unsupervised, ensemble

NLP and Deep Learning

# Great Job!