
# Python Basics

## Data types

### Numbers

In [1]:
type(1)

int

In [2]:
type(1.56)

float

In [3]:
12.58 + 15

27.58

In [ ]:
15.0 - 12

In [5]:
5.5 * 3

16.5

In [6]:
6 / 2

3.0

In [7]:
2**4

16

In [9]:
5 % 2

1

In [10]:
5 // 2

2

### Strings

In [12]:
type('1')

str

In [ ]:
type("1.256")

In [ ]:
'This is my father\'s house'

In [13]:
"Escape Sequence \"Example\""

'Escape Sequence "Example"'

In [ ]:
'Hello' +' '+ 'Friends'

In [14]:
'Hello' + '9.5'

'Hello9.5'

In [ ]:
float(9)

### Variable Assignment

Can not start with number or special characters. 
variables are supposed to start with _ or an alphabet and can only contain _, albphabets and numbers.

In [ ]:
_a = 9
asda = 'apple'
A90 = 'Arkansas'
x1 = 125.4
X2 = 56

In [15]:
x = 'Welcome '
y = 'Munendra'

x+y

'Welcome Munendra'

In [19]:
x = 5
y = 7.6
z = x + y

z = 'Any string'
z

'Any string'

In [20]:
x,y,z= 5,7.6, 4

x+y+z

16.6

In [ ]:
number_of_students = 45 #snake_case

In [ ]:
 VALUE_OF_PI = 3.14 #should not mess with. its a constatant

In [ ]:
PI = 'Bananas'

## Comparison Operators

In [22]:
x = 'Moncy'
y = 'MONCY'

x==y

x,y = 10,10
x==y

True

In [23]:
x = 10
y = 50

x,y

(10, 50)

In [24]:
x >= y

False

In [ ]:
1 >= 1

In [ ]:
1 <= 4

In [ ]:
x==y

In [25]:
'hi' == 'bye'

False

## Logic Operators

In [35]:
type((1 < 2) and (5 > 3))

bool

In [34]:
type(x)

bool

In [29]:
(1 > 2) or (5 > 3)

True

In [ ]:
(1 == 2) or (2 == 3) or (4 == 4)

### Printing

In [ ]:
x = 5

In [ ]:
x

In [ ]:
name= input("Enter your name:")
age = input("Please enter your age:")

In [ ]:
age = 32
print(f"My age is {age}")

In [30]:
num = 12.56
name = 'Sam'

In [31]:
print(f"My number is : {num} and my name is {name}")  #example of f-string

My number is : 12.56 and my name is Sam

In [32]:
print('Hello\nBrother\n\nHow are you?')

Hello
Brother

How are you?

### Booleans

In [ ]:
True

In [ ]:
False

### Truethiness

In [45]:
bool('asdfalk')

True

In [40]:
if x:
    print('True')
else:
    print('False')

True

In [47]:
animal = input("Enter your favorite animal: ")

print(f"{animal} is my favorite too!")

Enter your favorite animal:

 is my favorite too!

In [49]:
animal = input("Enter your favorite animal: ")

if animal:
    print(f"{animal} is my favorite too!")
else:
    print("You didn't say anything!")

Enter your favorite animal:

You didn't say anything!

### Lists

In [51]:
type([1,2,3])

list

In [52]:
#Nested lists
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [53]:
my_list = ['a','b','c']

my_list

['a', 'b', 'c']

Method	Description
append()	Adds an element at the end of the list
clear()	Removes all the elements from the list
copy()	Returns a copy of the list
count()	Returns the number of elements with the specified value
extend()	Add the elements of a list (or any iterable), to the end of the current list
index()	Returns the index of the first element with the specified value
insert()	Adds an element at the specified position
pop()	Removes the element at the specified position
remove()	Removes the first item with the specified value
reverse()	Reverses the order of the list
sort()	Sorts the list

In [54]:
len(my_list)

3

In [55]:
my_list.append('d')

In [60]:
my_list

['a', 'b', 'c', 'd']

In [57]:
my_list.append(['e','f','g'])

In [59]:
my_list.pop()

['e', 'f', 'g']

In [61]:
my_list.extend(['e','f','g'])

In [62]:
my_list

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [63]:
my_list.reverse()
my_list

['g', 'f', 'e', 'd', 'c', 'b', 'a']

In [66]:
num_list = [1,5,4,6,8,2,3]
num_list.sort()
num_list

[1, 2, 3, 4, 5, 6, 8]

In [ ]:
my_list.pop()

In [67]:
my_list.remove('g')

In [68]:
my_list

['f', 'e', 'd', 'c', 'b', 'a']

In [74]:
my_list[-2]

'b'

In [ ]:
my_list[1]

In [90]:
my_list[:3]

['NEW', 'b', 'c']

In [78]:
my_list[1:]

['e', 'd', 'c', 'b', 'a']

In [79]:
my_list.sort()

In [80]:
my_list

['a', 'b', 'c', 'd', 'e', 'f']

In [83]:
my_list[-1] = 'last'

In [84]:
my_list

['NEW', 'b', 'c', 'd', 'e', 'last']

In [85]:
nest = [1,2,3,[4,5,'target'],6,7]

In [86]:
nest[3]

[4, 5, 'target']

In [ ]:
new_list = nest[3]

In [88]:
nest[3][1]

5

In [89]:
nest[3][2][2]

'r'

## range()

In [ ]:
range(5)

In [ ]:
for i in range(5):
    print(i)

In [ ]:
list(range(5))

# Dictionaries

In [2]:
dict1={ 'second':2, 'first':1, 'third':3}

In [4]:
dict1.items()

dict_items([('second', 2), ('first', 1), ('third', 3)])

In [23]:
dict['first']

1

In [87]:
vcard={ 'number':[9886579669, 987654321,879564123], 'email id':'munendra@gmail.com','name':['munendra','gangwar'], 'age':32}

In [56]:
vcard['number'][0]+1

9886579670

In [57]:
item = 1

In [85]:
item *= 2

In [86]:
item

224

In [88]:
vcard

{'number': [9886579669, 987654321, 879564123],
 'email id': 'munendra@gmail.com',
 'name': ['munendra', 'gangwar'],
 'age': 32}

In [89]:
vcard['website']='muendra.com'

In [93]:
vcard['age '] = 32

In [94]:
vcard

{'number': [9886579669, 987654321, 879564123],
 'email id': 'munendra@gmail.com',
 'name': ['munendra', 'gangwar'],
 'age': 56,
 'website': 'muendra.com',
 'age ': 32}

In [102]:
vcard={ 'number':{'home':{'landline':9886579669, 'mobile':9876542132}, 'work':987654321, 'whatsapp':879564123}, 'email id':'munendra@gmail.com','name':['munendra','gangwar'], 'age':32}

In [96]:
vcard

{'number': {'home': 9886579669, 'work': 987654321, 'whatsapp': 879564123},
 'email id': 'munendra@gmail.com',
 'name': ['munendra', 'gangwar'],
 'age': 32}

In [104]:
vcard['number']['home']['mobile']

9876542132

In [111]:
vcard.keys()

dict_keys(['number', 'email id', 'name', 'age'])

In [112]:
vcard.values()

dict_values([{'home': {'landline': 9886579669, 'mobile': 9876542132}, 'work': 987654321, 'whatsapp': 879564123}, 'munendra@gmail.com', ['munendra', 'gangwar'], 32])

In [113]:
vcard.items()

dict_items([('number', {'home': {'landline': 9886579669, 'mobile': 9876542132}, 'work': 987654321, 'whatsapp': 879564123}), ('email id', 'munendra@gmail.com'), ('name', ['munendra', 'gangwar']), ('age', 32)])

In [115]:
new_dict = {'stu1':'Moncy', 'stu2':'ankit', 'stu3':'Nisha'}

In [141]:
list(new_dict.items())[0][1]

'Moncy'

Method	Description
clear()	Removes all the elements from the dictionary
copy()	Returns a copy of the dictionary
fromkeys()	Returns a dictionary with the specified keys and value
get()	Returns the value of the specified key
items()	Returns a list containing a tuple for each key value pair
keys()	Returns a list containing the dictionary's keys
pop()	Removes the element with the specified key
popitem()	Removes the last inserted key-value pair
setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
update()	Updates the dictionary with the specified key-value pairs
values()	Returns a list of all the values in the dictionary

# Tuples

In [132]:
tup = (1,(2.0,2.1),3,'Munendra')
lst = [1,2,3]

In [120]:
type(tup)

tuple

In [133]:
tup[3]

'Munendra'

In [127]:
lst

[5, 2, 3]

In [134]:
months=('jan','feb','mar')

In [ ]:
months[0] = 'January'

In [ ]:
months.reverse()

Method	Description
count()	Returns the number of times a specified value occurs in a tuple
index()	Searches the tuple for a specified value and returns the position of where it was found

# Set
A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

In [ ]:
for x in thisset:
  print(x)

Method	Description
add()	Adds an element to the set
clear()	Removes all the elements from the set
copy()	Returns a copy of the set
difference()	Returns a set containing the difference between two or more sets
difference_update()	Removes the items in this set that are also included in another, specified set
discard()	Remove the specified item
intersection()	Returns a set, that is the intersection of two other sets
intersection_update()	Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	Returns whether two sets have a intersection or not
issubset()	Returns whether another set contains this set or not
issuperset()	Returns whether this set contains another set or not
pop()	Removes an element from the set
remove()	Removes the specified element
symmetric_difference()	Returns a set with the symmetric differences of two sets
symmetric_difference_update()	inserts the symmetric differences from this set and another
union()	Return a set containing the union of sets
update()	Update the set with the union of this set and others

#Comprehensions

In addition to sequence operations and list methods, Python includes a more advanced operation called a list comprehension.

List comprehensions allow us to build out lists using a different notation. You can think of it as essentially a one line for loop built inside of brackets. For a simple example:
##Example 1

In [5]:
# Grab every letter in string
lst = [element+element for element in 'University']

In [18]:
list1 = [1,2,3,4,5]

In [ ]:
[expression for element in list]

In [6]:
# Check
lst

['UU', 'nn', 'ii', 'vv', 'ee', 'rr', 'ss', 'ii', 'tt', 'yy']

In [8]:
lst1 = [1,2,3,4,5]
lst2 = [x**2 for x in lst1]
lst2

[1, 4, 9, 16, 25]

In [11]:
lst1 = [x**2 for x in [1,2,3,4,5] if x%2!=0 ]

In [12]:
lst1

[1, 9, 25]

In [17]:
lst1 = [x**2 if x%2==0 else x**3 for x in [1,2,3,4,5, 'Hi']  if type(x) == int]

In [14]:
lst1

[1, 4, 27, 16, 125]

This is the basic idea of a list comprehension. If you're familiar with mathematical notation this format should feel familiar for example: x^2 : x in { 0,1,2...10} 

Lets see a few more example of list comprehensions in Python:
##Example 2

In [22]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
# Square numbers in range and turn into list
lst = [x**2 for x in range(1,11)]

In [24]:
lst

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

##Example 3
Lets see how to add in if statements:

In [31]:
# Check for even numbers in a range
lst = [x*x for x in range(11) if x % 2 == 0]
lst

[0, 4, 16, 36, 64, 100]

In [32]:
import math
lst1 = [int(math.sqrt(element)) for element in [x*x for x in range(11) if x % 2 == 0]]
lst1

[0, 2, 4, 6, 8, 10]

##Example 4
Can also do more complicated arithmetic:

In [27]:
# Convert Celsius to Fahrenheit
celsius = [0,10,20.1,34.5]

fahrenheit = [ ((float(9.)/5)*temp + 32) for temp in celsius ]

fahrenheit

[32.0, 50.0, 68.18, 94.1]

##Example 5
We can also perform nested list comprehensions, for example:

In [43]:
lst3 = [x**2 for x in range(11)]

In [46]:
type( [ x**2 for x in [x**2 for x in range(11)]])

list

In [33]:
# dictionary comprehension example
square_dict = {num:num**2 for num in range(1,11)}
print(square_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [35]:
#item price in dollars
old_price = {'milk': 1.02, 'coffee': 2.5, 'bread': 2.5}

# dollar_to_pound = 0.76
new_price = {k: v*0.76 for k,v in old_price.items()}
print(new_price)

{'milk': 0.7752, 'coffee': 1.9, 'bread': 1.9}

### If Else and elif

In [ ]:
if True:
    print 'It was true!'

Let's add in some else logic:

In [ ]:
x = False

if x:
    print 'x was True!'
else:
    print 'I will be printed in any case where x is not true'

In [ ]:
loc = 'Bank'

if loc == 'Auto Shop':
    print 'Welcome to the Auto Shop!'
elif loc == 'Bank':
    print 'Welcome to the bank!'
else:
    print "Where are you?"

In [ ]:
person = 'Munendra'

if person == 'Munendra':
    print 'Welcome Munendra!'
else:
    print "Welcome, what's your name?"

In [ ]:
person = 'Moncy'

if person == 'Munendra':
    print 'Welcome Munendra!'
elif person =='Moncy':
    print "Welcome Moncy!"
else:
    print "Welcome, what's your name?"

## For Loop

In [ ]:
# We'll learn how to automate this sort of list in the next lecture
l = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
for num in l:
    print num

In [ ]:
for num in l:
    if num % 2 == 0:
        print num

We could have also put in else statement in there:

In [ ]:
for num in l:
    if num % 2 == 0:
        print num
    else:
        print 'Odd number'

In [ ]:
# Start sum at zero
list_sum = 0 

for num in l:
    list_sum = list_sum + num

print list_sum

Great! Read over the above cell and make sure you understand fully what is going on. Also we could have implemented a += to to the addition towards the sum. For example:

In [ ]:
# Start sum at zero
list_sum = 0 

for num in l:
    list_sum += num

print list_sum

In [ ]:
for letter in 'This is a string.':
    print letter

Let's now look at how a for loop can be used with a tuple:

In [ ]:
tup = (1,2,3,4,5)

for t in tup:
    print t

#Using Tuples in for loop

In [ ]:
l = [(2,4),(6,8),(10,12)]

In [ ]:
for tup in l:
    print tup

In [ ]:
# Now with unpacking!
for (t1,t2) in l:
    print t1

In [ ]:
d = {'k1':1,'k2':2,'k3':3}

In [ ]:
for item in d:
    print item

In [ ]:
# For Python 3
for k,v in d.items():
    print(k)
    print(v)

### While Loop

In [ ]:
x = 0

while x < 10:
    print 'x is currently: ',x
    print ' x is still less than 10, adding 1 to x'
    x+=1

In [ ]:
x = 0

while x < 10:
    print 'x is currently: ',x
    print ' x is still less than 10, adding 1 to x'
    x+=1
    
else:
    print 'All Done!'

In [ ]:
x = 0

while x < 10:
    print 'x is currently: ',x
    print ' x is still less than 10, adding 1 to x'
    x+=1
    if x ==3:
        print 'x==3'
    else:
        print 'continuing...'
        continue

In [ ]:
x = 0

while x < 10:
    print 'x is currently: ',x
    print ' x is still less than 10, adding 1 to x'
    x+=1
    if x ==3:
        print 'Breaking because x==3'
        break
    else:
        print 'continuing...'
        continue

In [ ]:
# DO NOT RUN THIS CODE!!!! 
while True:
    print 'Uh Oh infinite Loop!'

# Functions

In [3]:
def name_of_function(arg1,arg2):
    '''
    This is where the function's Document String (doc-string) goes
    '''
    # Do stuff here
    #return desired result

In [4]:
def say_hello():
    print 'hello'

In [5]:
say_hello()

hello

###Example 2: A simple greeting function
Let's write a function that greets people with their name.

In [6]:
def greeting(name):
    print 'Hello %s' %name

In [7]:
greeting('Munendra')

Hello Jose

## Using return

In [8]:
def add_num(num1,num2):
    return num1+num2

In [9]:
add_num(4,5)

9

In [10]:
# Can also save as variable due to return
result = add_num(4,5)

In [11]:
print result

9

What happens if we input two strings?

In [12]:
print add_num('one','two')

onetwo

In [8]:
def is_prime(num):
    '''
    Naive method of checking for primes. 
    '''
    for n in range(2,num):
        if num % n == 0:
            print 'not prime'
            break
    else: # If never mod zero, then prime
        print 'prime'

In [9]:
is_prime(16)

not prime

Note how we break the code after the print statement! We can actually improve this by only checking to the square root of the target number, also we can disregard all even numbers after checking for 2. We'll also switch to returning a boolean value to get an example of using return statements:

In [15]:
import math

def is_prime(num):
    '''
    Better method of checking for primes. 
    '''
    if num % 2 == 0 and num > 2: 
        return False
    for i in range(3, int(math.sqrt(num)) + 1, 2):
        if num % i == 0:
            return False
    return True

In [16]:
is_prime(14)

False

## Variable Scope

In [2]:
name = 'This is a global name'

def greet():
    # Enclosing function
    name = 'Sammy'
    
    def hello():
        print ('Hello '+name)
    
    hello()

greet()

Hello Sammy

In [1]:
x = 50

def func(x):
    print 'x is', x
    x = 2
    print 'Changed local x to', x

func(x)
print 'x is still', x

x is 50
Changed local x to 2
x is still 50

In [12]:
x = 50

def func():
    global x
    print 'This function is now using the global x!'
    print 'Because of global x is: ', x
    x = 2
    print 'Ran func(), changed global x to', x

print 'Before calling func(), x is: ', x
func()
print 'Value of x (outside of func()) is: ', x

Before calling func(), x is:  50
This function is now using the global x!
Because of global x is:  50
Ran func(), changed global x to 2
Value of x (outside of func()) is:  2

# Modules and Packages

Modules in Python are simply Python files with the .py extension, which implement a set of functions. Modules are imported from other modules using the import command.

To import a module, we use the import command. Check out the full list of built-in modules in the Python standard library here.

The first time a module is loaded into a running Python script, it is initialized by executing the code in the module once. If another module in your code imports the same module again, it will not be loaded twice but once only - so local variables inside the module act as a "singleton" - they are initialized only once.

If we want to import module math,  we simply import the module:

In [5]:
# import the library
import math

In [6]:
# use it (ceiling rounding)
math.ceil(2.4)

3

## Exploring built-in modules
Two very important functions come in handy when exploring modules in Python - the dir and help functions.

We can look for which functions are implemented in each module by using the dir function:

In [8]:
print(dir(math))

['__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'trunc']

When we find the function in the module we want to use, we can read about it more using the help function, inside the Python interpreter:

In [10]:
help(math.ceil)

Help on built-in function ceil in module math:

ceil(...)
    ceil(x)

    Return the ceiling of x as an int.
    This is the smallest integral value >= x.

## Writing modules
Writing Python modules is very simple. To create a module of your own, simply create a new .py file with the module name, and then import it using the Python file name (without the .py extension) using the import command.

## Writing packages
Packages are name-spaces which contain multiple packages and modules themselves. They are simply directories, but with a twist.

Each package in Python is a directory which MUST contain a special file called **\__init\__.py**. This file can be empty, and it indicates that the directory it contains is a Python package, so it can be imported the same way a module can be imported.

If we create a directory called foo, which marks the package name, we can then create a module inside that package called bar. We also must not forget to add the **\__init\__.py** file inside the foo directory.

To use the module bar, we can import it in two ways:

In [ ]:
# Just an example, this won't work
import foo.bar

In [ ]:
# OR could do it this way
from foo import bar

In the first method, we must use the foo prefix whenever we access the module bar. In the second method, we don't, because we import the module to our module's name-space.

The **\__init\__.py** file can also decide which modules the package exports as the API, while keeping other modules internal, by overriding the **\__all\__** variable, like so:

In [ ]:
__init__.py:

__all__ = ["bar"]

# Object Oriented Programming

Object Oriented Programming (OOP) tends to be one of the major obstacles for beginners when they are first starting to learn Python.

There are many,many tutorials and lessons covering OOP so feel free to Google search other lessons, and I have also put some links to other useful tutorials online at the bottom of this Notebook.

For this lesson we will construct our knowledge of OOP in Python by building on the following topics:

* Objects
* Using the *class* keyword
* Creating class attributes
* Creating methods in a class
* Learning about Inheritance
* Learning about Special Methods for classes

Lets start the lesson by remembering about the Basic Python Objects. For example:

In [1]:
l = [1,2,3]

Remember how we could call methods on a list?

In [3]:
l.count(2)

1

What we will basically be doing in this lecture is exploring how we could create an Object type like a list. We've already learned about how to create functions. So lets explore Objects in general:

## Objects
In Python, *everything is an object*. Remember from previous lectures we can use type() to check the type of object something is:

In [4]:
print type(1)
print type([])
print type(())
print type({})

<type 'int'>
<type 'list'>
<type 'tuple'>
<type 'dict'>

So we know all these things are objects, so how can we create our own Object types? That is where the *class* keyword comes in.
##class
The user defined objects are created using the class keyword. The class is a blueprint that defines a nature of a future object. From classes we can construct instances. An instance is a specific object created from a particular class. For example, above we created the object 'l' which was an instance of a list object. 

Let see how we can use **class**:

In [2]:
# Create a new object type called Sample
class Sample(object):
    pass

# Instance of Sample
x = Sample()

print type(x)

<class '__main__.Sample'>

By convention we give classes a name that starts with a capital letter. Note how x is now the reference to our new instance of a Sample class. In other words, we **instantiate** the Sample class.

Inside of the class we currently just have pass. But we can define class attributes and methods.

An **attribute** is a characteristic of an object.
A **method** is an operation we can perform with the object.

For example we can create a class called Dog. An attribute of a dog may be its breed or its name, while a method of a dog may be defined by a .bark() method which returns a sound.

Let's get a better understanding of attributes through an example.

##Attributes
The syntax for creating an attribute is:
    
    self.attribute = something
    
There is a special method called:

    __init__()

This method is used to initialize the attributes of an object. For example:

In [3]:
class Dog(object):
    def __init__(self,breed):
        self.breed = breed
        
sam = Dog(breed='Lab')
frank = Dog(breed='Huskie')

Lets break down what we have above.The special method 

    __init__() 
is called automatically right after the object has been created:

    def __init__(self, breed):
Each attribute in a class definition begins with a reference to the instance object. It is by convention named self. The breed is the argument. The value is passed during the class instantiation.

     self.breed = breed

Now we have created two instances of the Dog class. With two breed types, we can then access these attributes like this:

In [11]:
sam.breed

'Lab'

In [9]:
frank.breed

'Huskie'

Note how we don't have any parenthesis after breed, this is because it is an attribute and doesn't take any arguments.

In Python there are also *class object attributes*. These Class Object Attributes are the same for any instance of the class. For example, we could create the attribute *species* for the Dog class. Dogs (regardless of their breed,name, or other attributes will always be mammals. We apply this logic in the following manner:

In [4]:
class Dog(object):
    
    # Class Object Attribute
    species = 'mammal'
    
    def __init__(self,breed,name):
        self.breed = breed
        self.name = name

In [5]:
sam = Dog('Lab','Sam')

In [6]:
sam.name

'Sam'

Note that the Class Object Attribute is defined outside of any methods in the class. Also by convention, we place them first before the init.

In [7]:
sam.species

'mammal'

## Methods

Methods are functions defined inside the body of a class. They are used to perform operations with the attributes of our objects. Methods are essential in encapsulation concept of the OOP paradigm. This is essential in dividing responsibilities in programming, especially in large applications.

You can basically think of methods as functions acting on an Object that take the Object itself into account through its *self* argument.

Lets go through an example of creating a Circle class:

In [8]:
class Circle(object):
    pi = 3.14

    # Circle get instantiated with a radius (default is 1)
    def __init__(self, radius=1):
        self.radius = radius 

    # Area method calculates the area. Note the use of self.
    def area(self):
        return self.radius * self.radius * Circle.pi

    # Method for resetting Radius
    def setRadius(self, radius):
        self.radius = radius

    # Method for getting radius (Same as just calling .radius)
    def getRadius(self):
        return self.radius


c = Circle()

c.setRadius(2)
print 'Radius is: ',c.getRadius()
print 'Area is: ',c.area()

Radius is:  2
Area is:  12.56

Great! Notice how we used self. notation to reference attributes of the class within the method calls. Review how the code above works and try creating your own method

## Inheritance

Inheritance is a way to form new classes using classes that have already been defined. The newly formed classes are called derived classes, the classes that we derive from are called base classes. Important benefits of inheritance are code reuse and reduction of complexity of a program. The derived classes (descendants) override or extend the functionality of base classes (ancestors).

Lets see an example by incorporating our previous work on the Dog class:

In [9]:
class Animal(object):
    def __init__(self):
        print "Animal created"

    def whoAmI(self):
        print "Animal"

    def eat(self):
        print "Eating"


class Dog(Animal):
    def __init__(self):
        Animal.__init__(self)
        print "Dog created"

    def whoAmI(self):
        print "Dog"

    def bark(self):
        print "Woof!"

In [10]:
d = Dog()

Animal created
Dog created

In [25]:
d.whoAmI()

Dog

In [26]:
d.eat()

Eating

In [27]:
d.bark()

Woof!

In this example, we have two classes: Animal and Dog. The Animal is the base class, the Dog is the derived class. 

The derived class inherits the functionality of the base class. 

* It is shown by the eat() method. 

The derived class modifies existing behavior of the base class.

* shown by the whoAmI() method. 

Finally, the derived class extends the functionality of the base class, by defining a new bark() method.

## Special Methods
Finally lets go over special methods. Classes in Python can implement certain operations with special method names. These methods are not actually called directly but by Python specific language syntax. For example Lets create a Book class:

In [11]:
class Book(object):
    def __init__(self, title, author, pages):
        print "A book is created"
        self.title = title
        self.author = author
        self.pages = pages

    def __str__(self):
        return "Title:%s , author:%s, pages:%s " %(self.title, self.author, self.pages)

    def __len__(self):
        return self.pages

    def __del__(self):
        print "A book is destroyed"

In [12]:
book = Book("Python Rocks!", "Jose Portilla", 159)

#Special Methods
print book
print len(book)
del book

A book is created
Title:Python Rocks! , author:Jose Portilla, pages:159
159
A book is destroyed

    The __init__(), __str__(), __len__() and the __del__() methods.
These special methods are defined by their use of underscores. They allow us to use Python specific functions on objects created through our class.

**Great! After this lecture you should have a basic understanding of how to create your own objects with class in Python. You will be utilizing this heavily in your next milestone project!**

For more great resources on this topic, check out:

[Jeff Knupp's Post](https://www.jeffknupp.com/blog/2014/06/18/improve-your-python-python-classes-and-object-oriented-programming/)

[Mozilla's Post](https://developer.mozilla.org/en-US/Learn/Python/Quickly_Learn_Object_Oriented_Programming)

[Tutorial's Point](http://www.tutorialspoint.com/python/python_classes_objects.htm)

[Official Documentation](https://docs.python.org/2/tutorial/classes.html)