<a href="https://colab.research.google.com/github/themunendra/KVCH/blob/master/KVCH_DS_WEEKDAY_10AM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List comprehension

In [ ]:
list1 = [0,1,2,3,4,5,6,7,8,9,10]

In [ ]:
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Syntex: [operation_on_element for element in list]

In [ ]:
list1[::2]

[0, 2, 4, 6, 8, 10]

In [ ]:
list2 = [x**2 for x in list1]

In [ ]:
list2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
name = ['Munendra','Vinay','Arpita']

In [ ]:
initials = [x[0] for x in name]

In [ ]:
initials

['M', 'V', 'A']

In [ ]:
list3 = [x for x in list1 if x%2==0]

In [ ]:
list3

[0, 2, 4, 6, 8, 10]

In [ ]:
list4 = [x**2 if x%2==0 else x**3 for x in list1]

In [ ]:
list4

[0, 1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

In [ ]:
list1.append('Hello')

In [ ]:
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'Hello']

In [ ]:
list5 = [x**2 if x%2==0 else x**3 for x in list1 if type(x)==int]

In [ ]:
list5

[0, 1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

# Dictionary Comprehension

In [ ]:
list1.pop()

'Hello'

In [ ]:
dict1= {x:x**2 for x in list1}
dict1

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
dict2 = {x:x**2 for x in range(11)}
dict2

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
inr= {'milk': 25, 'bread': 35, 'butter': 50}

In [ ]:
usd = { k:v/75 for k,v in inr.items()}
usd

{'bread': 0.4666666666666667,
 'butter': 0.6666666666666666,
 'milk': 0.3333333333333333}

In [ ]:
celcius = {'delhi':45, 'rishikesh': 30, 'shimla': 24, 'jammu': 15}

convert celcius to fahrenheit using dictionary comprehension

# if elif else

In [ ]:
if condition:
  print('something')
elif another_condition:
  print('something else')
elif yet_another_condition:
  print('something else altogether')
else:
  print('i dont want to print anything')

In [ ]:
my_var = input('Please enter your name:')

if my_var == 'Arpita':
  print('Hey super boss!!')
elif my_var == 'Vinay':
  print('Hey Boss!')
elif my_var == 'Munendra':
  print('Hello chief')
else:
  print('Sorry, I could not find your name in organization')

Please enter your name:Gangwar
Sorry, I could not find your name in organization

# For Loop

In [ ]:
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
for num in list1:
  if num%2==0:
    print(f"{num} is an even number")
  else:
    print(f"{num} is an odd number")

0 is an even number
1 is an odd number
2 is an even number
3 is an odd number
4 is an even number
5 is an odd number
6 is an even number
7 is an odd number
8 is an even number
9 is an odd number
10 is an even number

In [ ]:
even = []
odd = []
for num in list1:
  if num%2==0:
    even.append(num)
  else:
    odd.append(num)

even
odd
#  else:
#    print(f"{num} is an odd number")

[1, 3, 5, 7, 9]

In [ ]:
sum = 0
for num in list1:
  sum = sum+num

sum

55

In [ ]:
sum = 0
for num in list1:
  sum += num

sum

55

In [ ]:
for num in list1:
  if num%2==0:
    print(f"{num} is an even number")
  else:
    print(f"{num} is an odd number")
else:
  print('Yayyy, we are done!')

0 is an even number
1 is an odd number
2 is an even number
3 is an odd number
4 is an even number
5 is an odd number
6 is an even number
7 is an odd number
8 is an even number
9 is an odd number
10 is an even number
Yayyy, we are done!

In [ ]:
list1.extend(['Hello', 11,12,13,14,15])

In [ ]:
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'Hello', 11, 12, 13, 14, 15]

In [ ]:
for num in list1:
  if type(num)==int:
    if num%2==0:
      print(f"{num} is an even number")
    else:
      print(f"{num} is an odd number")
  else:
    # print(f"{num} is not a number")
    # break
    continue
    print('I am after continue')
else:
  print('Yayyy, we are done!')

0 is an even number
1 is an odd number
2 is an even number
3 is an odd number
4 is an even number
5 is an odd number
6 is an even number
7 is an odd number
8 is an even number
9 is an odd number
10 is an even number
11 is an odd number
12 is an even number
13 is an odd number
14 is an even number
15 is an odd number
Yayyy, we are done!

#While Loop

In [ ]:
x = 0

while x <= 10:
  print(f"Value of x is {x}")
  x += 1

Value of x is 0
Value of x is 1
Value of x is 2
Value of x is 3
Value of x is 4
Value of x is 5
Value of x is 6
Value of x is 7
Value of x is 8
Value of x is 9
Value of x is 10

In [ ]:
x = 0

while x <= 10:
  print(f"Value of x is {x}")
  x += 1
else:
  print("Yayyy, our while loop is also done")

Value of x is 0
Value of x is 1
Value of x is 2
Value of x is 3
Value of x is 4
Value of x is 5
Value of x is 6
Value of x is 7
Value of x is 8
Value of x is 9
Value of x is 10
Yayyy, our while loop is also done

In [ ]:
x = 0

while x <= 10:
  print(f"Value of x is {x}")
  if x==5:
    break
  x += 1
else:
  print("Yayyy, our while loop is also done")

Value of x is 0
Value of x is 1
Value of x is 2
Value of x is 3
Value of x is 4
Value of x is 5

In [ ]:
x = 0

while x <= 10:
  if x==5:
    x +=1
    continue
  print(f"Value of x is {x}")
  x += 1
else:
  print("Yayyy, our while loop is also done")

Value of x is 0
Value of x is 1
Value of x is 2
Value of x is 3
Value of x is 4
Value of x is 6
Value of x is 7
Value of x is 8
Value of x is 9
Value of x is 10
Yayyy, our while loop is also done

# heading1
## heading2
### heading3
#### heading4

Paragrah text: Blah blah blah

- I am a bullet point
- I am also a bullet point
- great, me too!

I am second paragraph

- I am part of second list of bullet points
- same here

I am third paragraph

1. I am numbered list
2. Ditto

# Functions

In [ ]:
def name_of_function(param1,param2):
  #I am the function logic

In [ ]:
def name_of_function(param1,param2):
  #I am the function logic
  return return_value

In [ ]:
def name_of_function(param1,param2):
  '''
  I am a docstring. I contain the details about function, it's parameters and return types.
  '''
  #I am the function logic
  return return_value

In [ ]:
def greeting(name):
  """
  I take a string variable as input parameter and greet that person.
  """
  print(f"Hello {name}")

In [ ]:
greeting('Vinay')

Hello Vinay

In [ ]:
greeting('Arpita')

Hello Arpita

In [ ]:
greeting.__doc__

'\n  I take a string variable as input parameter and greet that person.\n  '

In [ ]:
sum.__doc__

"int(x=0) -> integer\nint(x, base=10) -> integer\n\nConvert a number or string to an integer, or return 0 if no arguments\nare given.  If x is a number, return x.__int__().  For floating point\nnumbers, this truncates towards zero.\n\nIf x is not a number or if base is given, then x must be a string,\nbytes, or bytearray instance representing an integer literal in the\ngiven base.  The literal can be preceded by '+' or '-' and be surrounded\nby whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.\nBase 0 means to interpret the base from the string as an integer literal.\n>>> int('0b100', base=0)\n4"

In [ ]:
dir(greeting)

['__annotations__',
 '__call__',
 '__class__',
 '__closure__',
 '__code__',
 '__defaults__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__get__',
 '__getattribute__',
 '__globals__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__kwdefaults__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [ ]:
def addition(num1,num2):
  total = num1+num2
  return total

In [ ]:
addition(100,400)

500

In [ ]:
addition.__doc__

In [ ]:
def addition(num1,num2):
  return num1+num2

In [ ]:
addition(5,15)

20

In [ ]:
def sq_and_cube(num):
  if num%2==0:
    return num*num
  else:
    return num**3

In [ ]:
sq_and_cube(10)

100

In [ ]:
sq_and_cube(5)

125

In [ ]:
def sq_and_cube(num):
  if num%2==0:
    return num*num
    print('i am after return')
  else:
    return num**3

In [ ]:
sq_and_cube(10)

100

In [ ]:
sq_and_cube(5)

125

### Variable Scope

In [ ]:
name= 'Vinay'
def greet():
  name= 'Munendra'
  print(f"Hello {name}, i am inside function definition")

greet()
print(f"Hey {name}, I am outside function definition")

Hello Munendra, i am inside function definition
Hey Vinay, I am outside function definition

In [ ]:
x = 10
def face_value():
  global x
  print(f"Hello my value is {x}")
  x +=1

face_value()

Hello my value is 10

In [ ]:
face_value()

Hello my value is 11

In [ ]:
x = 10
def face_value():
  global x
  y = x
  print(f"Hello my value is {x}")
  def new_value():
    nonlocal y
    y+=2
    print(f"My new value is {y}")
  new_value()

face_value()

Hello my value is 10
My new value is 12

# Parameter unpacking

In [ ]:
def add_num(x,y,z):
  return x+y+z

add_num(5,6,7.5)

18.5

In [ ]:
def add_num(*args):
  sum = 0
  for item in args:
    sum +=item
  
  return sum

add_num(5,6,7.5,6,4,8,9,45,65,78,4579.456852)

4812.956852

In [ ]:
def total_sales(**kwargs):
  sum = 0
  for k,v in kwargs.items():
    sum +=v
  
  return sum

# sold_units = {}
total_sales(Munendra= 50, arpita=100 , vinay=101, diksha=151)

402

In [ ]:
# Order of parameters

def func_def(x, y, z, default_value_param = 0, *args, **kwargs)

# Modules and Packages

In [ ]:
import numpy as np

np.sqrt(25)

5.0

In [ ]:
import numpy as np

sqrt(25)

NameError: ignored

In [ ]:
from numpy import sqrt

sqrt(25)

5.0

In [ ]:
from <pkgname> import <module>
import <pkgname>.<module>
from <pkgname>.<module> import object

In [ ]:
import matplotlib.pyplot as plt

To import a module from a package, the package must contain ___init_ _ .py file.

# Object Oriented Programming

In [ ]:
class Kvch(object):
  pass

In [ ]:
a = Kvch()

In [ ]:
type(a)

__main__.kvch

In [ ]:
class Kvch(object):

  def __init__(abc, city, address):
    abc.city = city
    abc.address = address

  def type_self(abc):
    return type(abc)

In [ ]:
branch1 = Kvch('Noida', 'Sector 62')

In [ ]:
branch1.type_self()

__main__.Kvch

In [ ]:
branch1.city

'Noida'

In [ ]:
branch1.type_self()

__main__.Kvch

In [ ]:
class Kvch(object):

  def __init__(self, city, address, pincode):
    self.city = city
    self.address = address
    self.pincode = pincode

  def complete_address1(self):
    print(self.address,  self.city,  '-', self.pincode)
  
  def complete_address2(self):
    print(f"{self.address} {self.city}-{self.pincode}")

  def complete_address3(self, landmark=None):
    print(f"{self.address} {self.city}-{self.pincode} Near {landmark}")

In [ ]:
branch1 = Kvch('Noida','ABC building, Third Floor, Sector 62', 201304)

In [ ]:
branch1.complete_address3()

ABC building, Third Floor, Sector 62 Noida-201304 Near None

In [ ]:
class Book(object):
  def __init__(self, title, author, pages):
    self.title = title
    self.author = author
    self.pages = pages

  def __len__(self):
    return self.pages

In [ ]:
book1 = Book('My life story', 'Yours truly', 10)

In [ ]:
len(book1)

10

# File IO with python

In [ ]:
path= '/content/tips.csv'

f= open(path)
f.read()

'"total_bill","tip","sex","smoker","day","time","size"\n16.99,1.01,"Female","No","Sun","Dinner",2\n10.34,1.66,"Male","No","Sun","Dinner",3\n21.01,3.5,"Male","No","Sun","Dinner",3\n23.68,3.31,"Male","No","Sun","Dinner",2\n24.59,3.61,"Female","No","Sun","Dinner",4\n25.29,4.71,"Male","No","Sun","Dinner",4\n8.77,2,"Male","No","Sun","Dinner",2\n26.88,3.12,"Male","No","Sun","Dinner",4\n15.04,1.96,"Male","No","Sun","Dinner",2\n14.78,3.23,"Male","No","Sun","Dinner",2\n10.27,1.71,"Male","No","Sun","Dinner",2\n35.26,5,"Female","No","Sun","Dinner",4\n15.42,1.57,"Male","No","Sun","Dinner",2\n18.43,3,"Male","No","Sun","Dinner",4\n14.83,3.02,"Female","No","Sun","Dinner",2\n21.58,3.92,"Male","No","Sun","Dinner",2\n10.33,1.67,"Female","No","Sun","Dinner",3\n16.29,3.71,"Male","No","Sun","Dinner",3\n16.97,3.5,"Female","No","Sun","Dinner",3\n20.65,3.35,"Male","No","Sat","Dinner",3\n17.92,4.08,"Male","No","Sat","Dinner",2\n20.29,2.75,"Female","No","Sat","Dinner",2\n15.77,2.23,"Female","No","Sat","Dinner",2\n39.42,7.58,"Male","No","Sat","Dinner",4\n19.82,3.18,"Male","No","Sat","Dinner",2\n17.81,2.34,"Male","No","Sat","Dinner",4\n13.37,2,"Male","No","Sat","Dinner",2\n12.69,2,"Male","No","Sat","Dinner",2\n21.7,4.3,"Male","No","Sat","Dinner",2\n19.65,3,"Female","No","Sat","Dinner",2\n9.55,1.45,"Male","No","Sat","Dinner",2\n18.35,2.5,"Male","No","Sat","Dinner",4\n15.06,3,"Female","No","Sat","Dinner",2\n20.69,2.45,"Female","No","Sat","Dinner",4\n17.78,3.27,"Male","No","Sat","Dinner",2\n24.06,3.6,"Male","No","Sat","Dinner",3\n16.31,2,"Male","No","Sat","Dinner",3\n16.93,3.07,"Female","No","Sat","Dinner",3\n18.69,2.31,"Male","No","Sat","Dinner",3\n31.27,5,"Male","No","Sat","Dinner",3\n16.04,2.24,"Male","No","Sat","Dinner",3\n17.46,2.54,"Male","No","Sun","Dinner",2\n13.94,3.06,"Male","No","Sun","Dinner",2\n9.68,1.32,"Male","No","Sun","Dinner",2\n30.4,5.6,"Male","No","Sun","Dinner",4\n18.29,3,"Male","No","Sun","Dinner",2\n22.23,5,"Male","No","Sun","Dinner",2\n32.4,6,"Male","No","Sun","Dinner",4\n28.55,2.05,"Male","No","Sun","Dinner",3\n18.04,3,"Male","No","Sun","Dinner",2\n12.54,2.5,"Male","No","Sun","Dinner",2\n10.29,2.6,"Female","No","Sun","Dinner",2\n34.81,5.2,"Female","No","Sun","Dinner",4\n9.94,1.56,"Male","No","Sun","Dinner",2\n25.56,4.34,"Male","No","Sun","Dinner",4\n19.49,3.51,"Male","No","Sun","Dinner",2\n38.01,3,"Male","Yes","Sat","Dinner",4\n26.41,1.5,"Female","No","Sat","Dinner",2\n11.24,1.76,"Male","Yes","Sat","Dinner",2\n48.27,6.73,"Male","No","Sat","Dinner",4\n20.29,3.21,"Male","Yes","Sat","Dinner",2\n13.81,2,"Male","Yes","Sat","Dinner",2\n11.02,1.98,"Male","Yes","Sat","Dinner",2\n18.29,3.76,"Male","Yes","Sat","Dinner",4\n17.59,2.64,"Male","No","Sat","Dinner",3\n20.08,3.15,"Male","No","Sat","Dinner",3\n16.45,2.47,"Female","No","Sat","Dinner",2\n3.07,1,"Female","Yes","Sat","Dinner",1\n20.23,2.01,"Male","No","Sat","Dinner",2\n15.01,2.09,"Male","Yes","Sat","Dinner",2\n12.02,1.97,"Male","No","Sat","Dinner",2\n17.07,3,"Female","No","Sat","Dinner",3\n26.86,3.14,"Female","Yes","Sat","Dinner",2\n25.28,5,"Female","Yes","Sat","Dinner",2\n14.73,2.2,"Female","No","Sat","Dinner",2\n10.51,1.25,"Male","No","Sat","Dinner",2\n17.92,3.08,"Male","Yes","Sat","Dinner",2\n27.2,4,"Male","No","Thur","Lunch",4\n22.76,3,"Male","No","Thur","Lunch",2\n17.29,2.71,"Male","No","Thur","Lunch",2\n19.44,3,"Male","Yes","Thur","Lunch",2\n16.66,3.4,"Male","No","Thur","Lunch",2\n10.07,1.83,"Female","No","Thur","Lunch",1\n32.68,5,"Male","Yes","Thur","Lunch",2\n15.98,2.03,"Male","No","Thur","Lunch",2\n34.83,5.17,"Female","No","Thur","Lunch",4\n13.03,2,"Male","No","Thur","Lunch",2\n18.28,4,"Male","No","Thur","Lunch",2\n24.71,5.85,"Male","No","Thur","Lunch",2\n21.16,3,"Male","No","Thur","Lunch",2\n28.97,3,"Male","Yes","Fri","Dinner",2\n22.49,3.5,"Male","No","Fri","Dinner",2\n5.75,1,"Female","Yes","Fri","Dinner",2\n16.32,4.3,"Female","Yes","Fri","Dinner",2\n22.75,3.25,"Female","No","Fri","Dinner",2\n40.17,4.73,"Male","Yes","Fri","Dinner",4\n27.28,4,"Male","Yes","Fri","Dinner",2\n12.03,1.5,"Male","Yes","Fri","Dinner",2\n21.01,3,"Male","Yes","Fri","Dinner",2\n12.46,1.5,"Male","No","Fri","Dinner",2\n11.35,2.5,"Female","Yes","Fri","Dinner",2\n15.38,3,"Female","Yes","Fri","Dinner",2\n44.3,2.5,"Female","Yes","Sat","Dinner",3\n22.42,3.48,"Female","Yes","Sat","Dinner",2\n20.92,4.08,"Female","No","Sat","Dinner",2\n15.36,1.64,"Male","Yes","Sat","Dinner",2\n20.49,4.06,"Male","Yes","Sat","Dinner",2\n25.21,4.29,"Male","Yes","Sat","Dinner",2\n18.24,3.76,"Male","No","Sat","Dinner",2\n14.31,4,"Female","Yes","Sat","Dinner",2\n14,3,"Male","No","Sat","Dinner",2\n7.25,1,"Female","No","Sat","Dinner",1\n38.07,4,"Male","No","Sun","Dinner",3\n23.95,2.55,"Male","No","Sun","Dinner",2\n25.71,4,"Female","No","Sun","Dinner",3\n17.31,3.5,"Female","No","Sun","Dinner",2\n29.93,5.07,"Male","No","Sun","Dinner",4\n10.65,1.5,"Female","No","Thur","Lunch",2\n12.43,1.8,"Female","No","Thur","Lunch",2\n24.08,2.92,"Female","No","Thur","Lunch",4\n11.69,2.31,"Male","No","Thur","Lunch",2\n13.42,1.68,"Female","No","Thur","Lunch",2\n14.26,2.5,"Male","No","Thur","Lunch",2\n15.95,2,"Male","No","Thur","Lunch",2\n12.48,2.52,"Female","No","Thur","Lunch",2\n29.8,4.2,"Female","No","Thur","Lunch",6\n8.52,1.48,"Male","No","Thur","Lunch",2\n14.52,2,"Female","No","Thur","Lunch",2\n11.38,2,"Female","No","Thur","Lunch",2\n22.82,2.18,"Male","No","Thur","Lunch",3\n19.08,1.5,"Male","No","Thur","Lunch",2\n20.27,2.83,"Female","No","Thur","Lunch",2\n11.17,1.5,"Female","No","Thur","Lunch",2\n12.26,2,"Female","No","Thur","Lunch",2\n18.26,3.25,"Female","No","Thur","Lunch",2\n8.51,1.25,"Female","No","Thur","Lunch",2\n10.33,2,"Female","No","Thur","Lunch",2\n14.15,2,"Female","No","Thur","Lunch",2\n16,2,"Male","Yes","Thur","Lunch",2\n13.16,2.75,"Female","No","Thur","Lunch",2\n17.47,3.5,"Female","No","Thur","Lunch",2\n34.3,6.7,"Male","No","Thur","Lunch",6\n41.19,5,"Male","No","Thur","Lunch",5\n27.05,5,"Female","No","Thur","Lunch",6\n16.43,2.3,"Female","No","Thur","Lunch",2\n8.35,1.5,"Female","No","Thur","Lunch",2\n18.64,1.36,"Female","No","Thur","Lunch",3\n11.87,1.63,"Female","No","Thur","Lunch",2\n9.78,1.73,"Male","No","Thur","Lunch",2\n7.51,2,"Male","No","Thur","Lunch",2\n14.07,2.5,"Male","No","Sun","Dinner",2\n13.13,2,"Male","No","Sun","Dinner",2\n17.26,2.74,"Male","No","Sun","Dinner",3\n24.55,2,"Male","No","Sun","Dinner",4\n19.77,2,"Male","No","Sun","Dinner",4\n29.85,5.14,"Female","No","Sun","Dinner",5\n48.17,5,"Male","No","Sun","Dinner",6\n25,3.75,"Female","No","Sun","Dinner",4\n13.39,2.61,"Female","No","Sun","Dinner",2\n16.49,2,"Male","No","Sun","Dinner",4\n21.5,3.5,"Male","No","Sun","Dinner",4\n12.66,2.5,"Male","No","Sun","Dinner",2\n16.21,2,"Female","No","Sun","Dinner",3\n13.81,2,"Male","No","Sun","Dinner",2\n17.51,3,"Female","Yes","Sun","Dinner",2\n24.52,3.48,"Male","No","Sun","Dinner",3\n20.76,2.24,"Male","No","Sun","Dinner",2\n31.71,4.5,"Male","No","Sun","Dinner",4\n10.59,1.61,"Female","Yes","Sat","Dinner",2\n10.63,2,"Female","Yes","Sat","Dinner",2\n50.81,10,"Male","Yes","Sat","Dinner",3\n15.81,3.16,"Male","Yes","Sat","Dinner",2\n7.25,5.15,"Male","Yes","Sun","Dinner",2\n31.85,3.18,"Male","Yes","Sun","Dinner",2\n16.82,4,"Male","Yes","Sun","Dinner",2\n32.9,3.11,"Male","Yes","Sun","Dinner",2\n17.89,2,"Male","Yes","Sun","Dinner",2\n14.48,2,"Male","Yes","Sun","Dinner",2\n9.6,4,"Female","Yes","Sun","Dinner",2\n34.63,3.55,"Male","Yes","Sun","Dinner",2\n34.65,3.68,"Male","Yes","Sun","Dinner",4\n23.33,5.65,"Male","Yes","Sun","Dinner",2\n45.35,3.5,"Male","Yes","Sun","Dinner",3\n23.17,6.5,"Male","Yes","Sun","Dinner",4\n40.55,3,"Male","Yes","Sun","Dinner",2\n20.69,5,"Male","No","Sun","Dinner",5\n20.9,3.5,"Female","Yes","Sun","Dinner",3\n30.46,2,"Male","Yes","Sun","Dinner",5\n18.15,3.5,"Female","Yes","Sun","Dinner",3\n23.1,4,"Male","Yes","Sun","Dinner",3\n15.69,1.5,"Male","Yes","Sun","Dinner",2\n19.81,4.19,"Female","Yes","Thur","Lunch",2\n28.44,2.56,"Male","Yes","Thur","Lunch",2\n15.48,2.02,"Male","Yes","Thur","Lunch",2\n16.58,4,"Male","Yes","Thur","Lunch",2\n7.56,1.44,"Male","No","Thur","Lunch",2\n10.34,2,"Male","Yes","Thur","Lunch",2\n43.11,5,"Female","Yes","Thur","Lunch",4\n13,2,"Female","Yes","Thur","Lunch",2\n13.51,2,"Male","Yes","Thur","Lunch",2\n18.71,4,"Male","Yes","Thur","Lunch",3\n12.74,2.01,"Female","Yes","Thur","Lunch",2\n13,2,"Female","Yes","Thur","Lunch",2\n16.4,2.5,"Female","Yes","Thur","Lunch",2\n20.53,4,"Male","Yes","Thur","Lunch",4\n16.47,3.23,"Female","Yes","Thur","Lunch",3\n26.59,3.41,"Male","Yes","Sat","Dinner",3\n38.73,3,"Male","Yes","Sat","Dinner",4\n24.27,2.03,"Male","Yes","Sat","Dinner",2\n12.76,2.23,"Female","Yes","Sat","Dinner",2\n30.06,2,"Male","Yes","Sat","Dinner",3\n25.89,5.16,"Male","Yes","Sat","Dinner",4\n48.33,9,"Male","No","Sat","Dinner",4\n13.27,2.5,"Female","Yes","Sat","Dinner",2\n28.17,6.5,"Female","Yes","Sat","Dinner",3\n12.9,1.1,"Female","Yes","Sat","Dinner",2\n28.15,3,"Male","Yes","Sat","Dinner",5\n11.59,1.5,"Male","Yes","Sat","Dinner",2\n7.74,1.44,"Male","Yes","Sat","Dinner",2\n30.14,3.09,"Female","Yes","Sat","Dinner",4\n12.16,2.2,"Male","Yes","Fri","Lunch",2\n13.42,3.48,"Female","Yes","Fri","Lunch",2\n8.58,1.92,"Male","Yes","Fri","Lunch",1\n15.98,3,"Female","No","Fri","Lunch",3\n13.42,1.58,"Male","Yes","Fri","Lunch",2\n16.27,2.5,"Female","Yes","Fri","Lunch",2\n10.09,2,"Female","Yes","Fri","Lunch",2\n20.45,3,"Male","No","Sat","Dinner",4\n13.28,2.72,"Male","No","Sat","Dinner",2\n22.12,2.88,"Female","Yes","Sat","Dinner",2\n24.01,2,"Male","Yes","Sat","Dinner",4\n15.69,3,"Male","Yes","Sat","Dinner",3\n11.61,3.39,"Male","No","Sat","Dinner",2\n10.77,1.47,"Male","No","Sat","Dinner",2\n15.53,3,"Male","Yes","Sat","Dinner",2\n10.07,1.25,"Male","No","Sat","Dinner",2\n12.6,1,"Male","Yes","Sat","Dinner",2\n32.83,1.17,"Male","Yes","Sat","Dinner",2\n35.83,4.67,"Female","No","Sat","Dinner",3\n29.03,5.92,"Male","No","Sat","Dinner",3\n27.18,2,"Female","Yes","Sat","Dinner",2\n22.67,2,"Male","Yes","Sat","Dinner",2\n17.82,1.75,"Male","No","Sat","Dinner",2\n18.78,3,"Female","No","Thur","Dinner",2'

In [ ]:
f.read()

''

In [ ]:
f.closed

False

In [ ]:
f.close() #This is very important

In [ ]:
f.closed

True

In [ ]:
f1 = open(path)

In [ ]:
f1.readline() # reads one line at a time

'"total_bill","tip","sex","smoker","day","time","size"\n'

In [ ]:
f1.readline() #second line

'16.99,1.01,"Female","No","Sun","Dinner",2\n'

In [ ]:
f1.close()

In [ ]:
f1.closed

True

In [ ]:
f2 = open(path,'w')

In [ ]:
f2.write('Hello I am after the last line')

30

In [ ]:
f2.read()

UnsupportedOperation: ignored

In [ ]:
f2.close()

In [ ]:
f2 = open(path, 'r')

In [ ]:
f2.read()

'Hello I am after the last line'

In [ ]:
f3 = open( '/content/new_file.txt','w')

In [ ]:
f3.write('Hello I am the only line here')

29

In [ ]:
f3.close()

## working on file via with clause

In [ ]:
# with is a context manager
with open('/content/tips.csv','r') as f:
  for line in f:
    print(line)

I have been replaced

In [ ]:
f.closed

True

In [ ]:
with open('/content/tips.csv','w') as f:
  f.write('I have been replaced')

# Exceptions

In [ ]:
print('Hello)

SyntaxError: ignored

In [ ]:
try:
  print('Hello)
except:
  print('Something is wrong')

SyntaxError: ignored